AgenteChat.json
{
  "name": "AgenteChat",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Olá! 👋\nMeu nome é Midgar. Como eu posso te ajudar hoje ?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "546ab289-daef-4490-89e0-e610dd9ea9c1",
      "name": "When chat message received",
      "webhookId": "6f02bd66-2667-477e-b333-6c4bbfdc3f59"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "719e1ad6-63a8-4a73-81f8-578a18b90708",
              "name": "chatId",
              "value": "={{ $json.sessionId }}",
              "type": "string"
            },
            {
              "id": "e21f11b8-4012-4312-9e2a-55aba7b32466",
              "name": "message",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ],
      "id": "a024583c-0780-4166-a6fc-b57fa1688ea7",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1OCJq36xYq2kzEhur8H2Tv-aRp5VRy-ZMtc0aDM2Zv-o",
          "mode": "list",
          "cachedResultName": "Planilha Aula",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OCJq36xYq2kzEhur8H2Tv-aRp5VRy-ZMtc0aDM2Zv-o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Case 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OCJq36xYq2kzEhur8H2Tv-aRp5VRy-ZMtc0aDM2Zv-o/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "chatId": "={{ $json.chatId }}",
            "message": "={{ $json.message }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chatId",
              "displayName": "chatId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        440,
        0
      ],
      "id": "5e264d7c-52b8-4c8f-aeb1-b57e76b77fb9",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dNQLz45etgfrM25r",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields').item.json.message }}",
        "options": {
          "systemMessage": "Você é um super agente de suporte, seja educado, engraçado e utilize emojis em suas respostas para deixar a conversa mais hhuhmanizada."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        660,
        0
      ],
      "id": "3ad8e533-8b32-4730-b72e-f4688b2ed17a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        640,
        220
      ],
      "id": "f3b07c3b-69dd-4f62-9dc5-3ba5d6fb803d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ArYRMyOm5MmQscRe",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields').item.json.chatId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        760,
        220
      ],
      "id": "5321627f-3a51-40d6-8d1b-a81c719dc369",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        920,
        220
      ],
      "id": "2e57931b-0ed5-4c93-a92d-fa928d2fc57a",
      "name": "Calculator"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        1020,
        220
      ],
      "id": "d5654106-9853-4e72-b62f-daef296387b5",
      "name": "Wikipedia"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1020,
        0
      ],
      "id": "22e95f49-0e26-4199-bcdd-a0b10af72990",
      "name": "No Operation, do nothing"
    }
  ],
  "pinData": {
    "When chat message received": [
      {
        "json": {
          "action": "sendMessage",
          "sessionId": "d2163bbe-9147-42eb-a056-19978dc686da",
          "chatInput": "Obrigado"
        }
      }
    ]
  },
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b2218c47-75eb-44d3-ae6d-3ee94ae51a47",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "01f598555ff1d2d16d36949a0bac273ff38b2586e319e61ba0ec895c11ef4788"
  },
  "id": "LTveCOQrbtanPha2",
  "tags": []
}